*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  :root{
    --bgcolor: #f1f5fd;
    --primary-color: #6f5de7;
    --text-color: #828286;
    --main-text-color: #333333;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
 /*Contact section starts */
.contactus-section{
    margin: 5rem 0;
  }
  .contactus-leftside img{
    min-width: 60%;
    max-height: 10rem;
    height: auto;
    border-radius: 0.6rem;
  }
  .contact-input-field{
    margin-bottom: 1rem;
  }
  .form-control{
    height: 0.5rem;
  }
  .contact-rightside form .form-control{
   border-radius: 2px solid #ced4da;
   -webkit-appearance: none;
   height: 3rem;
   border-radius: 0.4rem;
   font-size: 1rem;
   padding-left: 1rem;
   font-weight: lighter;
  }
  .contact-rightside form .form-check-input{
    width: 2em;
    height: 2em;
  }
  .form-checkbox-style{
    margin: 2rem 0;
  }
  .contact-rightside form .main-hero-para{
    font-size: 1rem;
    color: black;
    margin: 0;
    font-weight: lighter;
    width: 75%;
    padding: 0 2rem;
  }
  
.btn-style{
    color: white;
    background-color: darkslategray;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    outline: none;
  }
  .btn-style:hover{
    background-color: darkslateblue;
    cursor: pointer;
  }
  
  /*Contact section ends */